*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

/* Custom properties */

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #9ED7E2;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em .75em rgba(0, 0, 0, .5),
        0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    font-family: var(--ff-primary);
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.nav-list {
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
}

.nav-link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
}

.nav-link:hover {
    color: var(--clr-accent);
}

.main-content {
    background: cyan;
}

.header {
    text-align: center;
}

h1 {
    font-size: var(--fs-h1)
}

h2 {
    font-size: var(--fs-h2)
}

h3 {
    font-size: var(--fs-h3)
}

@media (min-width: 600px) {
    .main-content {
        width: 60%;
        margin: 0 auto;
        background: red;
    }

    .nav {
        display: flex;
        justify-content: flex-end;
        list-style: none;
    }
}